header{
	position: sticky;
	top: 0;
	background: linear-gradient(-45deg, #000, #252525);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
	height: 63px;
	z-index: 999;
}

body {
	margin:auto;
	background-color: #252525;
}

footer{
	position: sticky;
	height: 200px;
	background-color: #0d0d0d;
	color: #FFF;
	font-family: Verdana;
	text-align: center;
	font-size: 24px;
	padding-top: 20px;
}

a{
	color: white;
}

a:any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

label{
	color: white;
}

ul.nav {
	float: right;
	list-style: none;
	margin: 0;
	padding: 18px;
  }
  
  ul.nav li {
	float: left;
	position: relative;
  }
  
  ul.nav li a {
	transition: color 0.2s linear;
	font-size: 18px;
  }
  
  ul.nav li:hover a {
	color: hsl(39, 100%, 66%);;
  }
  
  ul.nav li a {
	padding: 21px;
	color: white;
	text-decoration: initial;
  }

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: white;
}

bubble {
	position: absolute;
	color: white;
    background-color: red;
	padding: 2px;
	padding-left: inherit;
    padding-right: inherit;
    font-weight: bold;
    border-radius: 100px;
    margin-top: -17px;
}

bubbleIndex {
    position: absolute;
    color: white;
    background-color: red;
    padding: 2px;
    padding-left: inherit;
    padding-right: inherit;
    font-weight: bold;
    border-radius: 100px;
    margin-top: 5px;
    margin-left: 5px;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: initial;
}

#logo{
    background: #eceef0 url(../images/bde-thumbail2.jpg) no-repeat 0% 55% / cover;
    height: 460px;
    display: flex;
    box-sizing: border-box;
}

.event_box:target{
	height: 1200px;
}

.nav-bar{
	position: sticky;
	top: 63px;
	background: linear-gradient(-45deg, #272727, #313131);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
	height: 40px;
	border-bottom: 7px solid hsl(39, 100%, 66%);
	z-index: 999;
}

.fil{
	float: right;
	width: 75%;
	padding-top: 30px;
}

.side{
	float: left;
	width: 15%;
	padding-top: 10px;
}

.titrehead{
	font-family: Montserrat;
	color: hsl(39, 100%, 66%);
	font-weight: bold;
	font-size: 36px;
	text-align: center;
}

.titrepage{
	text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.wavecontainer{
	width: 100%;
	height: 300px;
}

.call {
	color: white;
  }
  
  .call span {
	border: 1px solid white;
	padding: 8px 13px;
	font-size: 20px;
	transition: background 0.15s linear;
  }
  
  .call span:hover {
	background: rgba(255, 255, 255, 0.1);
	cursor: pointer;
  }

.compte{
	position: absolute; 
	margin: 20px auto; 
	font-family: Verdana;
	text-align: left;
	font-size: 14px;
	color: white;
	padding-left: 45px;
}

.compte:hover{
	transition: all .12s ease !important;
	color: hsl(39, 100%, 66%);
}

.box{
	z-index: 50;
	margin: 12% auto;
    height: 220px;
    width: 212px;
    padding: 7px;
	background-color: #252525;
	border: 7px solid hsl(39, 100%, 66%);
	box-shadow: 10px 7px 10px #0d0d0d;
}

.event_box{
	height: auto;
	width: 1000px;
	margin-bottom: 100px;
	background-color: white;
	border-left: 17px solid hsl(39, 100%, 66%);
	margin: auto;
	margin-bottom: 100px;
	box-shadow: 10px 7px 10px #0d0d0d;
}

.event_box_nav{
	background-color: #313131;
	height: 45px;
}

.float_right {
	float: right;
}

.thumbail{
    height: 300px;
}

.like_button {
    background: #eceef000 url(/images/heart_not_activated.png) no-repeat 0% 100% / cover;
    height: 60px;
    width: 60px;
    float: right;
	margin: 20px;
	transition: transform .2s;
}

.like_button:active:hover {
    transform: scale(0.5);
}

.like_button:hover {
	transform: scale(1.5);
}

.unlike_button {
	background: #eceef000 url(/images/heart_activated.png) no-repeat 0% 100% / cover;
	height: 60px;
    width: 60px;
    float: right;
	margin: 20px;
	transition: transform .2s;
}

.unlike_button:active:hover {
	transform: scale(0.5);
}

.unlike_button:hover {
	transform: scale(1.5);
}

.previous_arrow{
	transform: rotate(90deg);
    display: inline-block;
    width: 30px;
    float: left;
    margin-left: 14px;
    margin-top: -33px;
    opacity: 1;
}

.next_arrow{
	transform: rotate(-90deg);
    display: inline-block;
    width: 30px;
    float: right;
    margin-right: 14px;
    margin-top: -33px;
    opacity: 1;
}

.next_arrow:hover{
	opacity: 0.8;
}

.p_index{
	display: inline-block;
	margin-bottom: 21px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    text-align: justify;
}

.com_space{
	border-top: 7px solid hsl(39, 100%, 66%);
}

input, textarea{
	color: white !important;
}

.md-form input:focus, .md-form textarea:focus {
	box-shadow: 0 1px 0 0 hsl(39, 100%, 66%) !important;
	border-bottom: 1px solid hsl(39, 100%, 66%) !important;
}

.md-form label {
	color: white;
}

.form-control{
	background-color: #181818 !important;
    margin-bottom: 10px;
    border: 0;
    border-radius: 0;
}

.edit_preview{
	width: 500px;
	height: auto;
	background-color: white;
}

.custom-select {
	color: #ffc252;
	background-color: #252525;
    border: 1px solid #ffc252;
}

.fade.in {
	opacity: 1;
}

.modal.in .modal-dialog {
transform: translate(0, 0);
-o-transform: translate(0, 0);
transform: translate(0, 0);
}

.modal-backdrop .fade .in {
opacity: 0.5 !important;
}

.modal-backdrop.fade {
	opacity: 0.5 !important;
}

.modal-content{
	background-color: #252525;
	border: 4px solid hsl(39, 100%, 66%);
	box-shadow: 7px 8px 10px #0d0d0d;
}

.modal-header{
	border-bottom: 0;
}

.modal-footer{
	border-top: 0;
}

.comm-content{
	background-color: #252525;
	height: auto;
	margin-bottom: 100px;
	padding: 3%;
}

.comm-body{
	background-color: #414141;
	height: auto;
	margin-bottom: 20px;
	border-bottom: 7px solid hsl(39, 100%, 66%);
	color: white;
	padding: inherit;
	text-align: justify;
}

.comm-input{
	padding: 25px;
    background-color: #414141;
    height: auto;
    margin-bottom: 100px;
    border: 7px solid hsl(39, 100%, 66%);
    font-family: sans-serif;
    font-size: larger;
	font-weight: 600;
	margin-bottom: 0;
}

.btn-secondary{
	float: right;
	margin-right: 10%;
	margin-top: 12px;
}

.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
	position: absolute;
	margin-left: 833px;
  }
  .ribbon::before,
  .ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #130f40;
  }
  .ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: #ba0000;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 700 19px/1 'Segoe UI', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
  }
  
  .ribbon-top-left::before,
  .ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
  }
  .ribbon-top-left::before {
    top: 0;
    right: 0;
  }
  .ribbon-top-left::after {
    bottom: 0;
    left: 0;
  }
  .ribbon-top-left span {
    right: -51px;
    top: 30px;
    transform: rotate(45deg);
  }

.rubbon {
    font-size: large;
    position: absolute;
    background-color: green;
    height: 30px;
    border-bottom-right-radius: 25px;
    width: 170px;
    color: white;
    text-align: center;
    font-variant: all-petite-caps;
}

.leftpanel{
	background-color: #313131;
    position: fixed;
    height: 100%;
    width: 350px;
    text-align: center;
    padding: 20px;
	box-shadow: 2px 0px 10px black;
	margin-top: -31%;
	z-index: -1;
}

.rightpanel{
	overflow-y: scroll;
	background-color:#313131;
	position:fixed;
	right:0;
	height: 100%;
	width: 350px;
	text-align: center;
	padding: 20px;
	box-shadow: 2px 0px 10px black;
}

h1 {
	color: white;
	text-align: center;
}
.card {
	margin-bottom: 50px;
	margin-left: 50px;
	width: 320px;
	height: 500px;
	border: 0;
	border-left: 17px solid hsl(39, 100%, 66%);
	border-radius: 0;
	box-shadow: 6px 3px 10px #0d0d0d;
}
.card-body {
	background-color: #212121;
}

.card-title{
	font-variant: all-petite-caps;
}

.card-text {
	font-size: 18px;
}
.card-sub {
	width: 100%;
	height: 160px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(33, 33, 33, 0.98);
	padding: 10px;
}
.card:hover {
	filter: contrast(1.1);
	transition: .1s;
}
.card-sub > .btn-sm {
	right: 0;
	bottom: 0;
	margin-top: 35px;
}
.card-sub > .md-form {
	width: 40%;
	position: absolute;
	bottom: -18px;
}
.card-sub > .price-text {
	position: absolute;
	right: 5px;
	bottom: 40px;
}
.card-body > .btn-danger {
	position: absolute;
	top: -10px;
	right: -10px;
}

.descboutique{
	height: auto;
    width: 300px;
    margin-top: 90px;
    color: white;
    background-color: #212121;
    padding: 30px;
    text-align: justify;
}

@media screen and (max-width: 992px) {
	.left-pan {
		display: none !important;
	}
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}