<!-- Animations -->
<div style="width: 100%; height: 300px;">
    <div class="waveWrapper waveAnimation" style="position: relative; height: 100%; width: 100%;">
        <div class="waveWrapperInner bgTop">
            <div class="wave waveTop" style="background-image: url('/images/wave3.png')"></div>
        </div>
        <div class="waveWrapperInner bgMiddle">
            <div class="wave waveMiddle" style="background-image: url('/images/wave2.png')"></div>
        </div>
        <div class="waveWrapperInner bgBottom">
            <div class="wave waveBottom" style="background-image: url('/images/wave3.png')"></div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer>
    <div class="row" style="width: 100%;">
        <div class="col-lg-6" style="z-index: 2;">
            <h5 style="float: left; margin-left: 25px">A propos</h5>
            <p style="float: left; margin-left: 25px; text-align: left; font-size: small;">Ayant un penchant naturel vers la programmation et le développement, un groupe de jeunes étudiants en école d'ingénieur décidèrent de fonder en Juin 2019 la plateforme HiDev. Nous construisons vos projet sur mesures et nous vous garantissons un travail de qualité ainsi que d'un suivi particulier pour s'assurer du bon fonctionnement de vos commandes. Étant en spécialité informatique nous pouvons couvrir une grande partie des projets grand publique ainsi que de l'entretien de vos serveurs, bases de données, site web, etc.. Si cependant une catégorie vous manque sur le site n'hésitez pas a nous la proposer.</p>
        </div>
        <div class="col" style="z-index: 2;">
            <h5>Mentions légales</h5>
        </div>
        <div class="col" style="z-index: 2;">
            <h5>Social</h5>
        </div>
    </div>
</footer>

<script src="{{ asset('/vendors/alerts/alert.js') }}"></script>