<meta charset="UTF-8">
<link rel="stylesheet" href="{{ asset('/vendors/bootstrap/css/bootstrap.css') }}" type="text/css"/>
<link rel="stylesheet" href="{{ asset('/css/style.css') }}" type="text/css"/>
<link rel="stylesheet" href="{{ asset('/css/Animations.css') }}" type="text/css"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="{{ asset('js/actions.js') }}"></script>