<!-- Header -->
<header>
    {% if user == null %}
        <button class="btn btn-primary" style="margin: 10px;" onclick="location.href='/login'">Connexion</button>
        <button class="btn btn-secondary" style="    float: inherit;margin-right: 0;margin-top: 0;" onclick="location.href='/register'">Inscription</button>
    {% else %}
        <div class="compte"><a href="/profile">Bonjour, {{user.firstname}}, 
        {% if user.id_Rank == 1 %}
            etudiant du Cesi
        {% endif %}
        {% if user.id_Rank == 2 %}
            personnel du Cesi
        {% endif %}
        {% if user.id_Rank == 3 %}
            membre du bde
        {% endif %}
        </a></div>
    {% endif %}

    <ul class="nav">
        <li><a href="/">Accueil</a></li>
        <li><a href="/events">Evenements</a></li>
        <li><a href="/shop">Boutique</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</header>