
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('/vendors/bootstrap/css/bootstrap.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css"/>
    </head>
    <body>
    <header>
        {% if user == null %}
            <button class="btn btn-primary"><a href="/login">Connexion</a></button>
            <button class="btn btn-secondary"><a href="/register">Inscription</a></button>
        {% else %}
            <button><a href="./users/logout">Déconnexion</a></button>
            <div class="compte"><a href="/profile">Bonjour, {{user.firstname}}</a></div>
        {% endif %}

        <ul class="nav">
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Evenements</a></li>
        <li><a href="#">Boutique</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
        
	</header>

    <div id="logo" style="text-align: center">
        

		<!--<div class="wrapper">
			 <img src="images/logo.png" style="margin: 0; height: 60%; width:60%; top: 5%;"></img>
		</div>-->
	</div>

    <div class="nav-bar">
    </div>

   <div class="fil">
        <h1>Evenements</h1>
            
        <div class="event_box">
            <div class="event_box_nav"></div>
            <img src="images/bde-thumbail.jpg" style="height: 230px; width: 833px;"></img>
            <p style="height: 17%" style="padding: 12px; font-family: sans-serif;">test</p>
            <hr style="width: 80%;"></hr>
            <button class="btn btn-secondary" style="float: right; margin-right: 3%;">Souscrire</button>
        </div>
    </div>

    <div class="side">
     <!--   <h4 style="color: white">Derniers événements</h4>
        <ul>
            <li><a href="#">Event 1</a></li>
            <li><a href="#">Event 2</a></li>
            <li><a href="#">Event 3</a></li>
        </ul>-->
    </div>  
    </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
    </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
    </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
    </body>
</html>
