
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('/vendors/bootstrap/css/bootstrap.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css"/>
    </head>
    <body>
    <header>
        {% if user == null %}
            <button class="btn btn-primary" style="margin: 10px;"><a href="/login">Connexion</a></button>
            <button class="btn btn-secondary"><a href="/register">Inscription</a></button>
        {% else %}
            <div class="compte"><a href="/profile">Bonjour, {{user.firstname}}</a></div>
        {% endif %}

        <ul class="nav">
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Evenements</a></li>
        <li><a href="#">Boutique</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
        
	</header>

    <div id="logo" style="text-align: center">
        

		<!--<div class="wrapper">
			 <img src="images/logo.png" style="margin: 0; height: 60%; width:60%; top: 5%;"></img>
		</div>-->
	</div>

    <div class="nav-bar">
    {% if user != null %}
     <button class="btn btn-secondary" style="padding: inherit; margin: 4px; width: 106px;"><a href="./users/logout">Déconnexion</a></button>
    {% endif %}
    </div>
    
    <div class="row" style="margin-top: 30px; width: 100%;">
       <div class="col-sm-3" style="z-index: -1;">
        <p>test</p>
        <!--   <h4 style="color: white">Derniers événements</h4>
            <ul>
                <li><a href="#">Event 1</a></li>
                <li><a href="#">Event 2</a></li>
                <li><a href="#">Event 3</a></li>
            </ul>-->
        </div>
        <div class="col" style="z-index: -1;">
            <h1>Evenements</h1>

            {% for event in events %}  
                <div class="event_box">
                    <div class="event_box_nav"><h2 style="margin-left: 15px">{{ event.title }}</h2>
                    <img src="images/bde-thumbail.jpg" style="height: 230px; width: 833px;"></img>
                    <!--<p style="height: 17%" style="padding: 12px; font-family: sans-serif;">test</p>
                    <hr style="width: 80%;"></hr>-->
                    
                    {% if user != null %}
                        <button class="btn btn-secondary" style="float: right; margin-right: 3%; margin-top: 12px;"><a href="#">Aimer</a></button>
                    {% endif %}
                    <button class="btn btn-secondary" style="float: right; margin-right: 3%; margin-top: 12px;"><a href="#">Souscrire</a><bubble>0</bubble></button>
                    
                    <h4 style="color: black; margin: 6px;">00/00/0000</h4>
                </div>
            {% endfor %}
        </div>
    </div>
    </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
    </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
    </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
    </body>
</html>