<!doctype html>
<html lang="fr">
 <head>
	 <meta charset="utf-8">
	 <title>Projet Web</title>
 </head>
 
 
 <body>
	<header>
		<div class="titrehead">Projet</div>
	</header>
	
	<form method="POST" action="/login">
	<p> 
        <label> Mail : </label>
        <input name="mail" required="required" type="text" placeholder="pseudo"/>
    </p>
	
    <p> 
		<label> Mot de passe : </label>
		<input name="pass" required="required" type="password" placeholder="motdepasse" /> 
    </p>
	
    <p> 
		<input type="submit" value="Connexion" /> 
    </p>
	</form>
	
	
	
	<footer></footer>
	
 </body>
</html>
