<!doctype html>
<html lang="fr">
 <head>
	{% include "head.html" %}
	<title>Projet Web</title>
 </head>
 
 
 <body>
<header>
	<div class="titrehead">Inscription</div>
	<a href="/"><img src="images/down-arrow.png" class="previous_arrow"></img></a>
</header>
	
	<p style="color:white; text-align:center;">{{ error is defined ? error : '' }}</p>

	<!--Container-->
	<div class="box" style="width: 250px; height: auto; padding: 30px; padding-top: 10px;">
	<form method="POST" action="/login">

	<div class="md-form mt-3">
		<label for="mail">Adresse mail</label>
		<input id="mail" class="form-control" name="mail" required="required" type="text" value="{{ data is defined ? data.mail : '' }}" />
	</div>

	<div class="md-form mt-3">
		<label for="pass">Mot de passe</label>
		<input id="pass" class="form-control" name="password" required="required" type="password" /> 
	</div>
	
    <button class="btn btn-primary btn-block" type="submit">Se connecter</button>
	<button class="btn btn-primary btn-block" style="margin-top: 15px;margin-left: auto;margin-right: auto;padding: inherit;width: 150px;height: 30px;"><a href="/register">Inscription</a></button>
	</form>
	</div>
	
	<!--Animations-->
	<div class="waveWrapper waveAnimation">
		<div class="waveWrapperInner bgTop">
			<div class="wave waveTop" style="background-image: url('images/wave3.png')"></div>
		</div>
		<div class="waveWrapperInner bgMiddle">
			<div class="wave waveMiddle" style="background-image: url('images/wave2.png')"></div>
		</div>
		<div class="waveWrapperInner bgBottom">
			<div class="wave waveBottom" style="background-image: url('images/wave3.png')"></div>
		</div>
	</div>

 <script>
	$('input').trigger("change");
 </script>

 </body>
</html>
