<!doctype html>
<html lang="fr">
 <head>
	 <meta charset="utf-8">
	 <link rel="stylesheet" href="{{ asset('css/bootstrap/css/bootstrap.css') }}" type="text/css"/>
	 <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css"/>
	 <title>Projet Web</title>
 </head>
 
 
 <body>
	<header>
		<div class="titrehead">Connexion</div>
	</header>
	
	<p style="color:white; text-align:center;">{{ error is defined ? error : '' }}</p>

	<div class="box">
	<form method="POST" action="/users/login">
	<p> 
        <label> Mail : </label></br>
        <input name="mail" required="required" type="text" placeholder="Adresse Mail"/>
    </p>
	
    <p> 
		<label> Mot de passe : </label></br>
		<input name="password" required="required" type="password" placeholder="Mot de passe" /> 
    </p>
	
    <p> 
		<input class="btn btn-primary" type="submit" value="Connexion" /> 
    </p>
	</form>
	</div>
	
	
 </body>
</html>
