<!-- Deuxième Header -->
<div class="nav-bar">
    {% if user != null %}
    <button class="btn btn-secondary" style="padding: inherit;margin: 4px;width: 106px;float: inherit;margin-left: 10px;" onclick="location.href='/users/logout'">Déconnexion</button>
    <ul class="nav" style="padding: 0;">
        {% if (user.id_Rank == 3) or (user.id_Rank == 2) %}
        <li><a href="/admin">Admin Panel</a></li>
        {% endif %}
        <li><a href="/events">Souscriptions</a></li>
        <li><a href="/login">Configuration</a></li>
    </ul>
    {% endif %}
</div>