Profil de <a href="https://youtu.be/NQz-WoYQe7E">{{ user.firstname }}</a>

<pre>
(((((((((((((((((((((((((((((((((((((((((((((((((((((((((((#((((((((((((((((((((((((((((((((((((##(
((#((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((###(((((((((((((((((((((((((((((
(#((((((((((((((((((((((((((((((((((((((((((((((((((((####((((//(((((((((((((((((((((((((((((((((((
((((((((((((((((((((((((((((((((((((((((((((((((((((((((#####(#((((((((((((((((((((((((((((((((((((
(((((((((((((((((((((((((((((((((((((((((/((((###%%%%%%%%%%%#####((((((((((((((((((((((((((((#(((((
(((((((((((((((((((((((((((((((((((((///((#%%%%%%%%%%%%&&&&&&&&&&&&%#(((((((((((((((((((((((###((((
(((((((((((((((((((((((((((((((((((////((##%%%%%%%%%%&&&&&&&&&&&&&&&&&&%#((((((((((((((((((((((((((
(((((((((((((((((((((((((((((((##((/////((######%%%%%&&&&&&&&&&@@@&&&&&&&&&%##(((((((((((((((((((((
((((((((((((((((((((((((((((((%##//******//(((####%%%&&&&&&&&&&&&&&&&%%&&&&&&&%%%%&&&%(((((((((((((
(((((((((((((((((((((((((((((%%#(//*,,,***////(((##%%%&&&&&&&&&&&&&&&&%%&&&&&&&&%%%%%%%(((((#(((###
(((((((((((((((((((((((((((#%%##((/**,,***////(((###%%&&&&&&&&&&&%%&%%%#%&&&&&%%%%%%%%%%%%%########
(((((((((((((((((((((((((((%&%##(((//****/////(((###%%%&&&&&&&&&%%%%%%@&&&&&&%&%%&&&&%%%##((((###
((((((((((((((((((((((((((%&&&%%%###((((((((((((####%%%%&&&&&&&&&&&&&&&@@@@@&&&&&&&&&&&%%&%(((((##(
(((((((((((((((((((((((((#&&&&&&&%%%%%%%########%%%%%%%%%%&&&&&&@@@@@@@@@@@@@&&&&&&&&&%%%#((((((##(
((((((((((((((((((((((((#&&&&&&&&&&&&&&&%%%%%%%%%%%%%%&&&&@@@@@@@@@@@@@@@@@@@&&@&&%%&&###((((((((
(((((((((((((((((((((((#%&&&&&&&&&&&&&&&&&%%%######%%&@@@@@@@@@@@@@@@@@@@@@@@&&@&@&%#((##((((((((
((((((((((((((((((((((%&&&&&&&&&&&&&&&&&&&%%######%&&@@@@@@@@@@@@@@@@@@@@@@@&%&%&(((##/###(((####
((((((((((((((((((((#&%&&&&&&&&&&&&&&&&&&&&%%##%%%%&&@@@@@@@@@@@@@@@@@@@@@@@&&(#((/###((#########
((((((((((((((((((((&&&&&&&&&&&&&&&&&&&&&&&&%%%%&&&&&&&@@@@@@@@@@@@@@@@@@@@#((((((((((##((#########
((((((((((((((((((#&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@#((((((((((##(#########
(((((((((((((((((#&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@%((##(#(((((((((((#########
(((((((((((((((((&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@####(##(((###(#############
((((((((((((((((#&&&&&&&&&&&&&&&&&&&&&&&&&&%%%&&@@@@@&&&&&&&&@@@@@@@@@@@%#######(##################
((((((((((((((((&&&&&&&&&&%##%&&&&&&&&&&&&&&&&&&&@@@&&&@@@@@@@@@@@@@@@@@@%######(##################
(((((((((((((((#&&&&&&&&&&%####%%,*%&&&&&&&&&&&&&@@@&&&&&&&@@@@@@@@@@@@@@&%########################
(((((((((((((((&&&&&&&&&&&&&%##(#%&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@&&%######################
((((((((((((((#&&&&&&&&&&&&&&%###%&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%###%################
((((((((((((((%&&&&&&&&&&&&&&%%%&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&%#####################
(((((((((((((#&&&&&&&&&&&@@@&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&%#%##################
(((((((((((((&&&&&&&&&&&&@@@&&%&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&%####################
((((((((((((#&&&&&&&&&&&&@@@&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@###################
((((((((((((#&&&&&&&&&&&&@@@@@@&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#########(((((((((##
((((((((((((%&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%##(((((((((((((((((
((((((((((((%&&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@((((((((((((((((((
(((((((((((#%&&&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&%#(((((((((((((((((
((((((((#####&&&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&%#(((((((((((((((((
(((((#######%&&&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&(((((((((((((((((
(((#########%&&&&&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&%(((((((((((((((((
(############&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&%((((((((((((((((
############%&&&&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&(((((((((((((((
############%&&&&&&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&((((((((((((((
#############&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&%((((((((((((((
#############&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&%((((((((((((((
(((((((((((###%&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&((((((((((((((
((((((((((((((#&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@&&&&@@@@@@@@@&@@@@@@@@@@@@@@@@@@@@&&&&((((((((((((((
(((((((((((((((#&&&&&&&&&&&&&&&&&@@@@@@@@@&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&&&((((((((((((((
((((((((((((((((&&&&&&&&&&&&&&&&&@@@@@@@&%%&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&&&%#((((((((((((((
((((((((((((((((#%&&&&&&&&&&&&&&&&@@@@@&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&&&%(((((((((((((((
(((((((((((((((((#%&&&&&&&&&&&&&&&@@@@&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&(((((((((((((((
((((((((((((((((((%&&&&&&&&&&&&&&&&&@@@&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&(((((((((((((((
(((((((((((((((((((#&&&&&&&&&&&&&&&&@@@@&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&&&&((((((((((((((((
((((((((((((((((((((%&&&&&&&&&&&&&&&@@@@@&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&&&%((((((((((((((((
((((((((((((((((((((#%&&&&&&&&&&&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&&((((((((((((((((
(((((((((((((((((((((#%&&&&&&&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&&&(((((((((((((((((
((((((((((((((((((((((#&&&&&&&&&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@&&&&@@&&&&&&&%((((((((((((((((((
((((((((((((((((((((((#&&&&&&&&&&&&&&&&&&&&&&&&@@@@@@@@@@@@@&&&&&&&&&&&@&&&&&&&%#((((((((((((((((((
(((((((((((((((((((((((%&&&&&&&&&&&&&&&&&&&&&&&@@@@@@@@@@@&&&&&&&&&&&@&@&&&&&&(((((((((((((((((((
(((((((((((((((((((((((%&&&&&&&&&&&&&&&&&&&&&&&&&&&&@@@@@&&&&&&&&&&&&&&&&&&&&((((((((((((((((((((
(((((((((((((((((((((((%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%((((((((((((((((((((((
(((((((((((((((((((((((%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%(((((((((((((((((((((((
(((((((((((((((((((((((%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%((((((((((((((((((((((((
(((((((((((((((((((((((%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%(((((((((((((((((((((((((
(((((((((((((((((((((((%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%#((((((((((((((((((((((((((
(((((((((((((((((((((((%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&#(((((((((((((((((((((((((((
(((((((((((((((((((((((#%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%#(((((((((((((((((((((((((((((
(((((((((((((((((((((((#%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%##((((((((((((((((((((((((((((((
((((((((((((((((((((((((%%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%#(((((((((((((((((((((((((((((((((
((((((((((((((((((((((((#%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%#(((((((((((((((((((((((((((((((((((
(((((((((((((((((((((((((%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%#(((((((((((((((((((((((((((((((((((((
((((((((((((((((((((((((((&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%#((((((((((((((((((((((((((((((((((((((
((((((((((((((((((((((((((%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&((((((((((((((((((((((((((((((((((((((((
((((((((((((((((((((((((((%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%#(((((((((((((((((((((((((((((##(((((((((#
(((((((((((((((((((((((((%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%(((((((((((((((((((((((####################
(((((((((((((((((((((((#%%&&&&&&&&&&&&&&&&&&&&&&&&&&&%###((((((((((((((((((((######################
(((((((((((((((((((((#%%%&&&&&&&&&&&&&&&&&&&&&&&&&&&%########((((((((##############################
</pre>
<br /><br /><br /><br /><br /><br /><br /><br /><br />
<pre>
((((((((((((((((((((((((((((((((((((((((((((############(#((((((((((((((((((((((((#(#######(((((((#
(((((((((((((((((((((((((((((((((((((((((((((((########((((((((((((((((((((((((((((#######(((((((((
((((((((((((((((((((((((((((((((((((((((((((((####%%%%%&&&%%(((((((((((((((((((((((((((((((((((((((
((((((((((((((((((((((((((((((((((((((((((((######%%%%%%%&&&&&%((((((((((((((((((((((((((((((((((((
(((((((((((((((((((((((((((((((((((((((((##########%%%%%&&&&&&&&%((((((((((((((((((((((((((((((((((
((((((((((((((((((((((((((((((((((((((#%%###########%%%&&&&&&@&&&&(((((((((((((((((((((((((((((((((
(((((((((((((((((((((((((((((((((((((#%%%##########%%%&&&&&@@@&&&&&((((((((((((((((((((((((((((((((
((((((((((((((((((((((((((((((((((((#%&%%##########%%%&&&&&&@&&&&&&&(((((((((((((((((((((((((((((((
((((((((((((((((((((((((((((((((((((%%%%%#######(####%%&&&&&&&&&&&&&&((((((((((((((((((((((((((((((
((((((((((((((((((((((((((((((((((#%%%###(**/(((((###%%#(#%%&&&&&&@@&((((((((((((((((((((((((((((
((((((((((((((((((((((((((((((((((#%%%/*******.*((###%%%%#(#%%%&&&@@&&&%(((((((((((((((((((((((((((
((((((((((((((((((((((((((((((((##%%%%/,((*/,.,*/((##%%%%#%%%#%&@@@@&&&&&((((((((((((((((((((((((((
(((((((((((((((((((((((((((((((##%%%&%%%#%%%##(/(((###%&&&&&@@@@@@@&&&&&&&&((((((((((((((((((((((((
(((((((((((((((((((((((((((((&&%###%%&&%%%%##((((((##%%&@@@@@@@@@@@&&&&&&&&@%((((((((((((((((((((((
(((((((((((((((((((((((((((#&&&%#/(#%%%%%%%%#((/(####%&&&@@@@@@@@@@&&&&&&&@@@@%((((((((((((((((((((
((((((((((((((((((((((((((%&&&%##/((%&%%%%%%#((*/((*(%%%&&&&&@@@@@@&&&@&&&@@@@@@#((((((((((((((((((
(((((((((((((((((((((((((#&&&&%((##((#%%%%%%##(**/*(#&&&&@@@&&@@@@@@@@@@@@@@@@@@@@#((((((((((((((((
((((((((((((((((((((((((#&&&&&&%#((#(*/(/(#(/(,.///(%%#&&&&&&%&@@&@@@@@@@@@@@@@@@@@@#((((((((((((((
(((((((((((((((((((((((#&&&&&&&%%%%##(###(//**/*///(#(%&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@&((((((##((((#
(((((((((((((((((((((((%&&&&&&&%%%(#&%%#(#(((###%%%%%&&&&&&&@@@@@@&&@@@@@@@@@@@@@@@@@@@#(##########
((((((((((((((((((((((%&&&&&&&&&%&&&&%&%&&&&&&&&&&@@@&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%##########
((((((((((((((((((((((%&&&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@########
(((((((((((((((((((((#%&&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#######
((((((((((((((((((((#%&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@######
((((((((((((((((((((#&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&%#####
(/((((((((((((((((((#&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@####
((((((((((((((((((((%&&&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%####
((((((((((((((((((((&&&&&&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%####
((((((((((((((((((((&&&&&&&&&&&&&&&&&&&&&@@@@@&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%###(
((((((((((((((((((((&&&&&&&&&&&&&&&&&&&&@&@&&&&&%&&&@&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#((((
((((((((((((((((((((%&&&&&&&&&&&&&&&&@@@@@@&&&&&&&&&&@@@&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#((((
((((((((((((((((((((%&&&&&&&&&&&&&&&&&&&@@@&&&&&&&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#((((
(((((((((((((((((((((&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@((((
(((((((((((((((((((((%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%%&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@&(((((
((((((((((((((((((((((&&&&&&&&&&&&&&&&&&&%%&&&%&&&&&&%&&&&&&&&&&@@@@@@@@@&&@@@@@@@@@@@@@@@@@&%(((((
(((((((((((((((((((##((#&&&&&&&&&&&&&&&&&&&%&&&%&%%&&&&&&&&&&&&@@@@@@@@&&&&&&@@@@@@@@@@@@@&&%((((((
((((((((((((((##########&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&@@@@@&&&&&&&&&@@@@@@@@@@@@&((((((
((((((((((##############&&&&&&&&&&&&&&&&&&%&&&&&&&&&&&&&&&&&&&@@@@@@@@&&&&&&&@@@@@@@@@@@@&&&(((((((
(((#####################&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@&(((((((
#######################%&&&&&&&&&&&&&&&&&&&&%%&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&((((((((
#######################%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@((///(((
####################(((#&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@&&(//((((((
########((((((((((((((((%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&@@@@@@@@&@@@@@@@@@@@@@@@@@@&&%(((((((##
#(((((((((((((((((((((((%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&@@@@@@@&&@@@@@@@@@@@@@@@@@@&&(((((((##
((((((((((((((((((((((((%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&(((((####
((((((((((((((((((((((((%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&&&%((((((((##
((((((((((((((((((((((((%&&&&&&&&&&&&&&&&&&&&&&&@@@@@&&&&&@@@@@@@@@@@@@@@@@@@@@&&&&&&&&%#((((((((((
((((((((((((((((((((((((%&&&&&&&&&&&&&&&&&&&&&@@@&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@&&&&&&&%((((((((((((
((((((((((((((((((((((((#&&&&&&&&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&&&&((((((((((((
(((((((((((((((((((((((((%&&&&&&&&&&&&&&&&&&&&&@@@@@@@@@@@@@&&&@@@@@@@@@@@@@@&&&&&&&&%(((((((((((((
(((((((((((((((((((((((((#&&&&&&&&&&&&&&&&&&&&&@@@@@@@@@@@&&&&&@@@@@&&@@@@@@&&&&&&&&&%(((((((((((((
((((((((((((((((((((((((((%&&&&&&&&&&&&&&&&&&&&@@@@@@@&&@@&&&&&@&&@&&&&@@@&&&&&&&&&&(((((((((((((
((((((((((((((((((((((((((%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&@@@&&&@@&&&&&&&&&%(((((((((((((((
(((((((((((((((((((((((((#&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&@&@@@@&&&&&&&&&&&&%#((((((((((((((((
(///(((((((((((((((((((((%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&@&&&&&&&&&&&&%((((((((((((((((((
((//((((((((((((((((((((#&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%(((((((((((((((((((
((((((((((((((((((((((((%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%#((((((((((((((((((((
((((((((((((((((((((((((%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%#((((((((((((((((((((((
(((((((((((((((((((((((#%&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%((((((((((((((((((((((((
(((((((((((((((((((((((#&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%#((((((((((((((((((((((((((
(((((((((((((((((((((((#&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&%(######(((((((((((((((((((((#
((((((((((((((((((((#((#&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&#######################((#####
</pre>

{# https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E
https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E https://youtu.be/NQz-WoYQe7E #}
