<!doctype html>
<html lang="fr">
 <head>
	 <meta charset="utf-8">
	 <title>Projet Web</title>
 </head>
 
 
 <body>

	<form method="POST" action="/users/register">
	
	<p> 
        <label> Nom : </label>
        <input name="lastname" required="required" type="text" placeholder="nom"/>
    </p>

	<p> 
        <label> Prénom : </label>
        <input name="firstname" required="required" type="text" placeholder="prenom"/>
    </p>
	
	<p> 
        <label> Mail : </label>
        <input name="mail" required="required" type="text" placeholder="mail"/>
    </p>
	
    <p> 
		<label> Mot de passe : </label>
		<input name="password" required="required" type="password" placeholder="motdepasse" /> 
    </p>

    <p> 
		<label> Centre </label>
		<input name="id_Center" required="required" type="text" placeholder="Centre" /> 
    </p>
	
    <p> 
		<input type="submit" value="Inscription" /> 
    </p>
	</form>
	
	
	
	<footer></footer>
	
 </body>
</html>
